<component name="ArtifactManager">
  <artifact type="war" name="springmvc-hibernate:war">
    <output-path>$PROJECT_DIR$/springmvc-hibernate/target</output-path>
    <root id="archive" name="springmvc-hibernate.war">
      <element id="artifact" artifact-name="springmvc-hibernate:war exploded" />
    </root>
  </artifact>
</component>